<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h1>OCR</h1>
        <form method="post" action="{% url 'ocr_process' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="image">Upload an image for OCR:</label>
                <input type="file" id="image" name="image" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

        {% if processed_image_path %}
            <div class="mt-5">
                <h2>Processed Image:</h2>
                <img src="{{ processed_image_path }}" class="img-fluid">
            </div>
        {% endif %}
    </div>
</body>

</html>
